@keyframes scaleAnimation {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.5); }
  }
  
  .dot1, .dot2, .dot3 {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #007bff;  /* Cor dos pontos */
    border-radius: 50%;
    margin: 0 4px;
    animation: scaleAnimation 1s infinite;
  }
  
  .dot2 {
    animation-delay: 0.2s;
  }
  
  .dot3 {
    animation-delay: 0.4s;
  }
  